# Executables
builds/webserver-stripped/strip-image
builds/dbserver-stripped/strip-image
builds/dbserver/output_h/
builds/webserver/output_h/
builds/webserver/webfiles/
builds/webserver-stripped/webfiles/

# Outputs
builds/runs/webserver/output_h/
builds/runs/dbserver/output_h/

# Tmp files
builds/runs/webserver/tmp/
builds/runs/dbserver/tmp/

# docker_dbserver.pp
*.pp

# sel-notes
builds/runs/dbserver/sel-notes
builds/runs/webserver/sel-notes
