policy_module(docker_dbserver,1.0.0)
# derived from:
#   Original material from James Dorgan
#   https://opensource.com/business/15/3/docker-security-tuning

# This template interface creates the docker_dbserver_t type as a
# type which can be run as a docker container.
virt_sandbox_domain_template(docker_dbserver);

#added the required types based on the error messages
require {
	type sysfs_t;
	type mysqld_port_t;
	type node_t;
}

#added the rules in 4 iterations

################# put audit2allow rules in here ##############

allow docker_dbserver_t self:capability { setgid setuid };
allow docker_dbserver_t self:netlink_route_socket { bind create getattr nlmsg_read };
allow docker_dbserver_t self:udp_socket { create ioctl };
allow docker_dbserver_t sysfs_t:file { open read };
allow docker_dbserver_t sysfs_t:lnk_file read;
allow docker_dbserver_t mysqld_port_t:tcp_socket name_bind;
allow docker_dbserver_t node_t:tcp_socket node_bind;
allow docker_dbserver_t self:tcp_socket { bind create listen setopt };
allow docker_dbserver_t self:udp_socket { connect getattr };
#added the following command after testing the dbserver functionality
allow docker_dbserver_t self:tcp_socket { accept getattr };

################# end audit2allow additions ##################

# Permissive domains allow processes to not be blocked by SELinux
# Remove this rule, when you are confident in the policy.
#permissive docker_dbserver_t;

